#hero{
    background-image: url("images/universe2.gif");
    background-size: cover;
    padding: 10px 0 40px 0;
}


body {
    color: #82a5ca;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: auto;
}

button {
    padding: 10px 20px;
    border: none;
    font-size: 30px;
    background-color: whitesmoke;
    font-family: 'Orbitron', sans-serif;
    color: #82a5ca;
    font-weight: bold;
}

.underline {
    border-bottom: 4px solid white;
}

#logo {
    max-width: 200px;
    height: auto;
    display: flex;
    padding-left: 50px;
    padding-top: 20px;
}

h3{

}